@import "_colores.scss";
@import "_grid.scss";
@import "_mixin.scss";
@import "_fonts.scss";


html
	{
		margin:0;
		padding:0;
	}
body
	{
		margin:0;
		padding:0;
	}
@media screen AND (max-width:425px)
	{
		
	}