.container-centerA {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px;
  -ms-grid-columns: 200px 500px 200px;
      grid-template: 150px/200px 500px 200px;
}

.container-centerC {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px;
  -ms-grid-columns: 200px 500px 200px;
      grid-template: 50px/200px 500px 200px;
}

@font-face {
  font-family: "Franklin";
  src: url("../fonts/FranklinGothicHeavyRegular.ttf");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}